body {
    background: #343433;
}
  
header {
    margin-bottom: 25px;
}

div.row.section {
    padding-bottom: 1.5em;
    padding-top: 1.0em;
}

.card-text {
    line-height: 1.3em;
}

h4.card-title {
    font-size: 1.3em;
    margin-bottom: 0.1em;
}

.card-header {
    font-weight: bold;
}

.status-icon-col {
}

.status-icon {
    font-size: 5em;
}

div.card.status div.content {
    padding-top: 0.8em;
    line-height: 1.2em;
}

div.card.status-meta .card-body {
    font-size: 0.9em;
}


.card-footer i.icon {
    margin-right: 0.5em;
    font-size: 1.3em;
}

.info-icon {
    font-size: 3.0em;
    color: #b8b8b8;
}

.profile-info {
    line-height: 0.9em;
}

.profile-info h2 {
    margin-bottom: 0.1em;
    color: #eeeeee;
}

.profile-info h3 {
    margin-bottom: 0;
    color: #979797;
}

.profile-info p {
    color: #979797;
}

.calendar-icon {
    font-size: 1.1em;
    margin-right: 0.5em;
}

.calendar-date {
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.05em;
}

.calendar-event {
    font-size: 1em;
}
